.select-user-type {
    background-color: #f0f0f0;
    padding: 20px;
    font-family: Arial, sans-serif;
    /* height: 500px; */
    align-items: center;
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    /* margin-bottom: 20px; */
    flex: 1;
}

.user-type-options {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex: 1;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
}

button:hover {
    background-color: #0056b3;
}
button:active {
    background-color: #004080;
}