.select-user-type {
    background-color: rgb(252, 252, 252);
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.select-user-type-logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
} 

.select-user-type-logo img {
    width: 800px;
    height: 150px;
    object-fit: cover;
}

.select-user-content{
    flex: 1.7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    padding: 40px;
    margin-bottom: 60px;
    margin-left: 400px;
    margin-right: 400px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: white;
}
.select-user-content:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    transform: translateY(-5px) scale(1.02);
}


.select-user-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.select-user-text h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 300;
}

.select-user-text p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    color: #666;
    /* margin-top: 20px; */
}

.user-type-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    gap: 20px;
    flex: 1;
}

.user-type-options button{
    padding: 20px;
    font-size: 1.5rem;
    /* border: none; */
    border-radius: 15px;
    cursor: pointer;
    width: 150px;
    height: 75px;
    /* background-color: #007bff; */
    /* color: white; */
}

/* .user-type-options button:hover {
    background-color: #0056b3;
}

.user-type-options button:active {
    background-color: #004080;
} */

.user-type1{
    background-color: white;
    color: #4f46e5;
    border: 1px solid #4f46e5;
    font-family: 'poppins', sans-serif;
}

.user-type1:hover{
    transform: translateY(-2px);
    background-color: rgb(240, 240, 240);
    transition: all 0.2s ease;
}

.user-type1:active{
    background-color: rgb(228, 228, 228);
}

.user-type2{
    background-color: #4f46e5;
    color: white;
    border: none;

}

.user-type2:hover{
    transform: translateY(-2px);
    background-color: #3d37b9;
    transition: all 0.2s ease;
}

.user-type2:active{
    background-color: #262099;
}